<!DOCTYPE html>
<html ng-app='parseQ' ng-controller='MainController'>
	<head>
		<link rel="stylesheet" href="main.css" />
		<title>ParseQ</title>
	</head>
	<body>

		<div class='controller-check'> {{test}} </div>
			<br />
			<br />
			<br />
			<br />
		<div class='question-box'>
			<input type="text" placeholder='What is your question?!' ng-model='questionRequest' />
			<button class='quest-but' ng-click='postData()'> Ask It! </button>

		</div>

		<div ng-repeat='text in questions'>
			{{text.question}} <br />
			{{text.objectId}}

		</div>


		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<script type="text/javascript" src='js/app.js'></script>
		<script type="text/javascript" src='js/defaultHeaders.js'></script>
		<script type="text/javascript" src='js/controllers/MainController.js'></script>
		<script type="text/javascript" src='js/services/parseService.js'></script>

	</body>
</html>